nav {
  height: 60px;
  background-color: var(--color-bg);
  position: sticky;
  top: 0;
  font-family: "Courier", monospace;
}

nav ul {
  list-style-type: none;
  height: inherit;
  display: flex;
  justify-content: space-evenly;
}

nav li {
  height: inherit;
  /* width: 10%; */
  font-variant: small-caps;
  font-size: 1.8rem;
  font-weight: 700;
  transition: background-color 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li:hover {
  background-color: var(--color-bg);
  color: var(--color-fg);
  box-shadow: 2px 4px 3px var(--color-bg);
  text-shadow: 1px 1px 1px var(--color-bg-light);
}

nav a {
  color: var(--color-fg);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  margin: 0;
  padding: 0;
}
