
nav {
  height: 60px;
  background-color: var(--color-bg); /* A darker background to resemble old computer screens */
  position: sticky;
  top: 0;
  font-family: "Courier", monospace; /* A monospace font to resemble coding */
}

nav ul {
  list-style-type: none;
  height: inherit;
  display: flex;
  justify-content: space-evenly;
}

nav li {
  height: inherit;
  width: 10%;
  font-variant: small-caps;
  font-size: 1.8rem; /* Increased font size to make it higher */
  font-weight: 700;
  transition: background-color 0.2s ease-in-out;
  display: flex; /* Added display flex to center the text */
  justify-content: center; /* Centered the text horizontally */
  align-items: center; /* Centered the text vertically */
}



nav li:hover {
  background-color: var(--color-bg); /* A darker background color on hover to resemble old computer screens */
  color: var(--color-fg); /* White text color on hover to resemble coding */
  box-shadow: 2px 4px 3px var(--color-bg); /* A box shadow to give a retro feel */
  text-shadow: 1px 1px 1px var(--color-bg-light); /* A text shadow to give a retro feel */
}

nav a {
  color: var(--color-fg);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  margin: 0; /* Removed margin to center the text */
  padding: 0; /* Removed padding to center the text */
}

nav a:hover {
  color: var(--color-fg); /* A lighter text color on hover to resemble coding */
}
