h1 {
  font-size: 500%;
  font-family: "Merriweather", serif;
  text-shadow: 5px 5px 5px #0033;
  padding-top: 20%;
}

h2 {
  font-variant: small-caps;
  padding-top: 20px;
  padding-bottom: 20px;
}

ul {
  display: inline-flex;
  list-style-type: none;
}

li {
  /* padding-inline: 10px; */
  /*  padding-left: 20px; */

  /*  float: left;    */
  text-transform: uppercase;
  font-weight: 700;
  font-size: 110%;
}

a {
  font-family: "JetBrains Mono", serif;
  padding: 20px;
  text-decoration: none;
  color: whitesmoke;
  text-shadow: 3px 3px 3px black;
}

p {
  font-family: "JetBrains Mono", serif;
  text-align: justify;
  padding-inline: 20%;
}

.jp {
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
}